#body {
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
}

.action-footers {
  margin-top: 50px;
  border-top: solid 1px #ccc;
  padding-top: 50px;
}

.btn {
  color: white !important;
  cursor: pointer !important;
  margin-left: 5px;
  margin-right: 5px;
}

.nav-link {
  cursor: pointer !important;
}

.radio-btns-group label{
  margin: 0 10px;
}

form label {
  cursor: pointer !important;
}
