table td {
  width: 180px;
}

table td.actions {
  width: 150px;
}

table td.date {
  width: 400px;
  font-size: 14px;
  font-weight: bold;
}


table td input.form-control{
  width: 100px;
}

.field-container {
  width: 130px;
  margin-right: 50px;
  display: inline-block;
}

.field-container.time {
  width: 220px;
}

.field-container.time input{
  display:inline-block;
  width: 130px;
  margin-right: 10px;
}

.date-filters {
  margin-bottom: 20px
}

.date-filters > div {
  display: inline-block;
}

.date-filter {
  width: 150px;
  margin-left: 30px;
}
